<div class="container-fluid py-5">
    <h1>Exemple Crud</h1>


   <div>
       <a [routerLink]="['/formulaire']" class="btn btn-success btn-lg my-4">Create</a>
   </div> 
<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Constellation</th>
        <th scope="col">Description</th>
        <th width="430px">Operation</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listUsers; let i = index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.constellation}}</td>
            <td>{{item.description}}</td>
            <td>
                <a [routerLink]="[ '/crud/read/', item.id]" class="btn btn-info mr-2">Afficher</a>
                <a [routerLink]="[ '/crud/update/', item.id]" class="btn btn-primary mr-2">Update</a>
                <button type="button" (click)="delete(item.id)" class="btn btn-danger mr-2">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
