<div class="container-fluid">
    <h1 class="my-5">Voici mon travail de synthèse!</h1>
    <h2 class="my-5">Petite description des composants intégrés:</h2>
    <ul class="list-inline mb-5">
        <li class="list-item">
            <h3 class="mt-3">Tutoriel : </h3>
            <p class="ml-5"> Trois petits tutoriels afin d'expliquer des concepts reliés à ce travail incluant Angular, le CRUD et les relations.</p>
        </li>
        <li class="list-item">
            <h3 class="mt-3">Formulaire :</h3>
            <p class="ml-5"> Un formulaire qui sert à ajouter des objets dans le fichier JSON.</p>
        </li>
        <li class="list-item">
            <h3 class="mt-3">Crud :</h3>
            <p class="ml-5"> Cet onglet permet de voir les objets ajouter au fichier JSON, mais aussi de les modifier, les supprimer ou les voir avec un peu plus de détails.</p>
        </li>
        <li class="list-item">
            <h3 class="mt-3">Youtube :</h3>
            <p class="ml-5"> Cet onglet inclut des liens vers des vidéos Yuotube directement à partir du site. </p>
        </li>
        <li class="list-item">
            <h3 class="mt-3">Contact :</h3>
            <p class="ml-5"> Petit formulaire qui permet de m'envoyer une question (ne fonctionne pas complètement)</p>
        </li>
    </ul>
</div>