<div class="container py-5">
  <h2>Buy A Star !</h2>
    <form [formGroup]="userForm" (ngSubmit)= "createUser()">
        <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" class="form-control"/>
      <div *ngIf="!formCreate.name.valid && (formCreate.name.dirty || formCreate.name.touched)">
        <div [hidden]="!formCreate.name.errors.required">Le nom de l'étoile est obligatoire</div>
        <div [hidden]="!formCreate.name.errors.minlength">Le nom de l'étoile doit être composé d'un minumum de 4 caractères</div>
      </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" formControlName="type">
          <option>Classe O</option>
          <option>Classe B</option>
          <option>Classe A</option>
          <option>Classe F</option>
          <option>Classe G</option>
          <option>Classe K</option>
          <option>Classe M</option>
        </select>
      </div>

      <div class="form-group">
        <label for="constellation">Constellation</label>
        <input id="constellation" formControlName="constellation" class="form-control"/>
      </div>




      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control" 
                  rows="3"></textarea>
      </div>      

      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-8">
          <button id="name" name="submit" class="btn btn-primary">Submit</button>
          <a [routerLink]="[ '/crud']" id="cancel" name="cancel" class="btn btn-secondary ml-3">Cancel</a>
        </div>
      </div>
    </form>
  </div>

