<footer class="pt-3 bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <div class="text-center pb-3">
                    <i class="fab fa-facebook fa-2x text-primary mr-5"></i>
                    <i class="fab fa-twitter fa-2x text-info mr-5"></i>
                    <i class="fab fa-youtube fa-2x text-danger mr-5"></i>
                    <i class="fab fa-google-plus fa-2x text-danger"></i>
                </div>
                <p class="lead text-light text-center">&copy;Copyright 2020 - Made by Jules Emond</p>
            </div>
        </div>
    </div>
</footer>
