

<div class="container py-5">
  <h2>Your Choice</h2>
    <form [formGroup]="readStarForm">
        <div *ngIf="validMessage != ''">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" formControlName="name" class="form-control" [(ngModel)]="etoile.name" disabled/>
        </div>
  
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" formControlName="type" [(ngModel)]="etoile.type" disabled>
            <option>Classe O</option>
            <option>Classe B</option>
            <option>Classe A</option>
            <option>Classe F</option>
            <option>Classe G</option>
            <option>Classe K</option>
            <option>Classe M</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="constellation">Constellation</label>
          <input id="constellation" formControlName="constellation" class="form-control" [(ngModel)]="etoile.constellation" disabled/>
        </div>
  
  
  
  
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" formControlName="description" class="form-control" 
                    rows="3" [(ngModel)]="etoile.description" disabled></textarea>
        </div>      

      <div class="form-group">
        <div class="col-md-8">
          <a [routerLink]="[ '/crud']" id="return" name="return" class="btn btn-secondary">Return</a>
        </div>
      </div>
    </form>
  </div>
